### 1- Imposto a pagar no Lucro Presumido

- 5% sobre faturamento de ISS (mensal)
- 0,65% de PIS sobre faturamento, (mensal)
- 3% de COFINS sobre faturmaneto, (mensal)
- 4.8% de IR (trimestral)
- 10% de IR Adicional sobre o que ultrapassar 20mil do faturamento (trimestral)
- CSLL: 2,88% sobre faturamento (trimestral)

In [10]:
faturamento = {
    'jan': 'R$ 95.141,98',
    'fev': 'R$ 95.425,16',
    'mar': 'R$ 89.716,31',
    'abr': 'R$ 78.459,99',
    'mai': 'R$ 71.087,28',
    'jun': 'R$ 83.911,06',
    'jul': 'R$ 56.467,26',
    'ago': 'R$ 88.513,58',
    'set': 'R$ 66.552,49',
    'out': 'R$ 80.164,07',
    'nov': 'R$ 66.964,33',
    'dez': 'R$ 71.525,25',
}

# você precisa inserir no sistema um dicionário no formato:

# resultado = {
#     'mes': (faturamento, imposto_mensal, imposto_trimestral),
# }


# 1 - Percorrer todo o dicionário;
# 2 - converter o valor (string) em inteiro
# 3 - Calcular o imposto mensal;
# 4 - Calcular o imposto trimestral;
# 5 - Inserir o retorno em um dicionário.

def converter_para_flout(str: str):
  flout_ = str.replace("R$", "")
  flout_ = flout_.replace(" ", "")
  flout_ = flout_.replace(".", "")
  flout_ = flout_.replace(",", ".")
  return float(flout_)

def calcular_imposto_mensal(faturamento):
  iss = faturamento * 0.05
  pis = faturamento * 0.0065
  cofins =faturamento * 0.03
  impostos = iss + pis + cofins
  return impostos

def calcular_imposto_trimestral(faturamento):
  ir = faturamento * 0.048
  csll = faturamento * 0.0288
  ir_adicional = 0
  if faturamento > 20000:
    ir_adicional = (faturamento - 20000) * 0.1
  impostos = ir + csll + ir_adicional
  return impostos

fat_e_impostos = {}


for mes in faturamento:
  faturamento_real = converter_para_flout(faturamento[mes])
  imposto_mensal = calcular_imposto_mensal(faturamento_real)
  imposto_trimestral = calcular_imposto_trimestral(faturamento_real)
  fat_e_impostos[mes] = (faturamento_real, imposto_mensal, imposto_trimestral)


for mes in fat_e_impostos.items():
  print(mes)

('jan', (95141.98, 8229.78127, 14821.102063999999))
('fev', (95425.16, 8254.27634, 14871.168288))
('mar', (89716.31, 7760.460814999999, 13861.843608))
('abr', (78459.99, 6786.789135000001, 11871.726232))
('mai', (71087.28, 6149.04972, 10568.231104))
('jun', (83911.06, 7258.306689999999, 12835.475408))
('jul', (56467.26, 4884.41799, 7983.411568))
('ago', (88513.58, 7656.42467, 13649.200944))
('set', (66552.49, 5756.790385, 9766.480232000002))
('out', (80164.07, 6934.192055000001, 12173.007576000002))
('nov', (66964.33, 5792.4145450000005, 9839.293544))
('dez', (71525.25, 6186.934125, 10645.6642))

### 2 - Puxando informações de um banco de Dados

In [27]:
# puxando informações SQL de um banco de dados
informacoes = [(1, 'NATHANIEL FORD', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 167411.18, 0.0, 400184.25, None, 567595.43, 567595.43, 2011, '', 'San Francisco', ''), (2, 'GARY JIMENEZ', 'CAPTAIN III (POLICE DEPARTMENT)', 155966.02, 245131.88, 137811.38, None, 538909.28, 538909.28, 2011, '', 'San Francisco', ''), (3, 'ALBERT PARDINI', 'CAPTAIN III (POLICE DEPARTMENT)', 212739.13, 106088.18, 16452.6, None, 335279.91, 335279.91, 2011, '', 'San Francisco', ''), (4, 'CHRISTOPHER CHONG', 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 77916.0, 56120.71, 198306.9, None, 332343.61, 332343.61, 2011, '', 'San Francisco', ''), (5, 'PATRICK GARDNER', 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 134401.6, 9737.0, 182234.59, None, 326373.19, 326373.19, 2011, '', 'San Francisco', ''), (6, 'DAVID SULLIVAN', 'ASSISTANT DEPUTY CHIEF II', 118602.0, 8601.0, 189082.74, None, 316285.74, 316285.74, 2011, '', 'San Francisco', ''), (7, 'ALSON LEE', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 92492.01, 89062.9, 134426.14, None, 315981.05, 315981.05, 2011, '', 'San Francisco', ''), (8, 'DAVID KUSHNER', 'DEPUTY DIRECTOR OF INVESTMENTS', 256576.96, 0.0, 51322.5, None, 307899.46, 307899.46, 2011, '', 'San Francisco', ''), (9, 'MICHAEL MORRIS', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 176932.64, 86362.68, 40132.23, None, 303427.55, 303427.55, 2011, '', 'San Francisco', ''), (10, 'JOANNE HAYES-WHITE', 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)', 285262.0, 0.0, 17115.73, None, 302377.73, 302377.73, 2011, '', 'San Francisco', '')]
descricao = (('Id', "<class 'int'>", None, 10, 10, 0, True), ('EmployeeName', "<class 'str'>", None, 65536, 65536, 0, True), ('JobTitle', "<class 'str'>", None, 65536, 65536, 0, True), ('BasePay', "<class 'float'>", None, 54, 54, 0, True), ('OvertimePay', "<class 'float'>", None, 54, 54, 0, True), ('OtherPay', "<class 'float'>", None, 54, 54, 0, True), ('Benefits', "<class 'float'>", None, 54, 54, 0, True), ('TotalPay', "<class 'float'>", None, 54, 54, 0, True), ('TotalPayBenefits', "<class 'float'>", None, 54, 54, 0, True), ('Year', "<class 'int'>", None, 10, 10, 0, True), ('Notes', "<class 'str'>", None, 65536, 65536, 0, True), ('Agency', "<class 'str'>", None, 65536, 65536, 0, True), ('Status', "<class 'str'>", None, 65536, 65536, 0, True))

# precisamos 1º de uma lista com o nome das colunas para poder organizar as colunas da nossa tabela:
# o nome das colunas está na variável descrição, dê uma olhada.

import pandas as pd

colunas = [desc[0] for desc in descricao]


# tabela = pd.DataFrame.from_records(informacoes)
# para acertar nossa tabela, vamos precisar fazer:
# tabela = pd.DataFrame.from_records(informacoes, columns=colunas) # onde colunas é uma lista com o nome das colunas
# display(tabela)


# além disso, precisamos enviar por e-mail para o RH uma lista com o nome e o cargo de cada pessoa da tabela 
# então você precisa construir o texto do corpo desse email do tipo:

# texto = """
# RH, segue a lista dos funcionários:
# Fulano, Cargo: tal
# Beltrano, Cargo: isso
# """

texto = "Prezado RH, segue abaixo lista dos funcionários e seus respectivos cargos:\n"

for i, tupla in enumerate(informacoes):
  nome = tupla[1]
  cargo = tupla[2]
  texto += f"\n{i+1} - {nome}, Cargo: {cargo}"

print(texto)

Prezado RH, segue abaixo lista dos funcionários e seus respectivos cargos:

1 - NATHANIEL FORD, Cargo: GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
2 - GARY JIMENEZ, Cargo: CAPTAIN III (POLICE DEPARTMENT)
3 - ALBERT PARDINI, Cargo: CAPTAIN III (POLICE DEPARTMENT)
4 - CHRISTOPHER CHONG, Cargo: WIRE ROPE CABLE MAINTENANCE MECHANIC
5 - PATRICK GARDNER, Cargo: DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
6 - DAVID SULLIVAN, Cargo: ASSISTANT DEPUTY CHIEF II
7 - ALSON LEE, Cargo: BATTALION CHIEF, (FIRE DEPARTMENT)
8 - DAVID KUSHNER, Cargo: DEPUTY DIRECTOR OF INVESTMENTS
9 - MICHAEL MORRIS, Cargo: BATTALION CHIEF, (FIRE DEPARTMENT)
10 - JOANNE HAYES-WHITE, Cargo: CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)

### 3 - Extração dos links de Download de Vídeos do Vimeo

- Precisamos pegar os links em 1080p, 720p e 540p para importar os vídeos para uma nova plataforma

In [ ]:
# para pegar o dicionario do vimeo, use:
from dic import dicionario_vimeo

# você precisa chegar em:
# videos = [
#     {'uri': video_uri, 'nome': nome_video, 'duracao': duracao, 'link540p': link540p, 'link720p': link720p, 'link1080p': link1080p},
# ]